body {
    padding: 0;
    margin: 0;
    background-image: url("images/background.jpg");
}
/* navigation bar styling*/ 
.navbar {
    background:#000;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
/* front page / landing page styling*/ 
h2 {
    color:#0b03fc;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin-top: 5%;
  }
  #selfie {
    width: 10%;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #socials {
    background-color: black;
    width: 20%;
    height: 40px;
    opacity: 80%;
    margin: auto;
    border-radius: 50px;
    position: relative;
  }
  /* social media icon styling */
  .fa-linkedin {
    background: #007bb5;
    color: white;
    display:inline-block;
    left: 40%;
    right: 50%;
    height: 36px;
    width: 36px;
    padding-top: 15px;
    border-radius: 20px;
  }
  .fa-github {
    display: block;
    color: white;
    border-radius: 20px;
    left: 40%;
    right: 50%;
  }
  .fa {
    font-size: 40px;
    text-align: center;
    position: relative;
  }
  /* About me page styling */
  #about {

  }
  /* Portfolio page styling */
.work-title {
  margin-top: 60rem;
}
  /* Flexbox wrapper */
.wrapper {
  display: flex;
}

/* Grid wrapper */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top:10rem;
  margin-left: 10rem;
  margin-bottom: 20rem;
}
  #project-1 {
    width:50%;
    height:200px;
  }
  #project-2 {
    width:50%;
    height:200px;
    background-color: #fff;
  }
  #project-3 {
    width:50%;
    height:200px;
    background-color: #fff;
  }
.card {
}
  /* Contact page styling */
  #contact {

  }
